# Node modules
node_modules/

# Jest coverage
coverage/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Build
/dist/

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore test output
*.test.js.snap
